output/
partitions/
tigramite/
development/
anomalies/
communities/
documentation/
delta-map-domains/
.ipynb_checkpoints/
classifications/
tropics_map.py
Cumulo_corr.py
Cumulo_corr2.py
*.nc
ERA5/ERA5*EPBig
